/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../FONTS/Inter/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../FONTS/Inter/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../FONTS/Inter/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../FONTS/Inter/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../FONTS/Inika/inika-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../FONTS/Inika/inika-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inika-700 - latin */
  @font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../FONTS/Inika/inika-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../FONTS/Inika/inika-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }
  img{
    max-width: 100%;
    height: auto;
  }
.wrapper{
    max-width: 1220px;
    margin: 0 auto;
} 

/* Header styles start*/

.header{
    background-color: #EDF2EC;
    font-family: 'Inika';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
} 
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 42px 0;
}
.header_list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 46px;
}
.header__item:last-child{
    margin-right: 0;
}
.header__link{  
    color: #010201;
    text-decoration: none;
}
.header__link1{
    color: #E06733;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}
.header__link1:hover, .header__link1:focus, .header__link1:active{
    opacity: .75;
}

/* Header styles end*/

.main{
     position: relative;
     /*top: 100px;*/
}

/* Welcome styles start*/
.welcome{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    background-color: #EDF2EC;
}
.welcome__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 57px 0;
}
.welcome__title{
    max-width: 549px;
    font-family: 'Inter';  
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    padding-bottom: 42px;
    /*margin-left: 782px;*/
}
.colortext{
    color: #499A18; 
}
.welcome__subtitle{
    max-width: 525.44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    padding-bottom: 48px;
    /*margin-left: 782px;*/
}
.search__form__submit{
    width: 158px;
    height: 44px;
    padding: 14px 25px;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 2px solid #E06733;
    border-radius: 10px;
}
.search__form__submit:hover, .search__form__submit:focus, .search__form__submit:active{
    background: #E06733;
    color: #fff;
    transition: all .5s;
}
.leafs__welcome-pic{
    background-color: transparent;
    padding: 0;
    width: 449px;
    height: 407px;  
}

/* Welcome styles end*/


/* About styles start*/
.about{
    background-color: white;
}
.about__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 93px 0px;
}

.about__title{
    max-width: 463px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding-bottom: 40px;
}

.colortext__about{
    color: #E06733; 
}
.about__subtitle{
    max-width: 605px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}
.houseplant__about-pic {
    background-color: transparent;
    padding: 0;
    width: 464px;
    height: 479px;    
}
/* About styles end*/


/* Service styles start*/
.service{
    background-color: #EDF2EC;
}
.service__title {
    max-width: 306px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}
.service__form__submit{
    padding: 12px 0;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    background-color: transparent;
    border: 1px solid #E06733;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    color: #E06733;
}
.service__form__submit:hover, .service__form__submit:focus, .service__form__submit:active{
    background: #E06733;
    color: #fff;
    transition: all .5s;
}
.service_countent{
    max-width: 1007px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 78px;
}
.service_list{
    display: flex;
    flex-wrap: wrap;
}
.service__item{
    margin-right: 38px;
}
.service__item:last-child{
    margin-right: 0;
}
.services2{
    width: 330px;
    height: 450px;
    /*left: 1556.27px;
    top: 230px;*/
    border: 1px solid #E3E1D5;
    border-radius: 20px; 
    text-align: center;
}
.services__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    margin-top: 10px;
}
.services__subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    margin-top: 10px;
    margin-bottom: 36px;
}
.services{
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 955px;
}
.service__wrapper{
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 121px;
}
/* Service styles end*/

/* Prices styles start*/
.prices{
    background-color: white;
}
.prices__wrapper{
    margin-top: 40px;
    margin-bottom: 114px;
    display: flex;
    justify-content: space-between;
}
.prices1__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 57px;
}
.prices__submit{
    padding: 16px 110px 16px 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    border: .5px solid #EDF2EC;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    background: #EDF2EC url(../IMG/SVG/prices\ button\ round.svg) no-repeat 84% center;
    text-align: start; 
}
.prices__submit:hover, .prices__submit:focus, .prices__submit:active{
    opacity: .75;
}
.prices__item{
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 34px 41px;
}
.prices__button{
    margin-bottom: 32px;
}
.prices__button:last-child{
    margin-bottom: 0;
}
.colortext__call__us{
    color:#499A18;
}
.call__us__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    width: 452px;
    height: 103px;
    left: 879px;
    top: 40px;
    margin-bottom: 38px;
}
.call__us__submit{
    padding: 12px 0;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background-color: transparent;
    border: 1px solid #E06733;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    color: #E06733;
}
.call__us__submit:hover, .call__us__submit:focus, .call__us__submit:active{
    background: #E06733;
    color: #fff;
    transition: all .5s;
}
.call__us__submit:last-child{
    margin-right: 0;
}
.text__call__us{
    max-width: 452px;
    max-height: 191px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-bottom: 39px;
}
.prices2{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-left: 438px;
}
.leafes1{
    width: 152px;
    height: 175px;
    margin-left: 300px;
}
/* Prices styles end*/


/* Contacts styles start*/
.contacts{
    background-color: #EDF2EC; 
}
.contacts__img{
    margin-top: 53px;
}
.contacts__wrapper{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;  
}
.contact_woman-pic{
    width: 400px;
    height: 496.99px;
    left: 109px;
    top: 53px;
}
.contact__us{
    margin-left: 113px;
    padding-top: 60px;
}
.contact__us__title{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-bottom: 37px;
}
.contacts__submit{
    height: 50px;
    width: 450px;
    left: 61.18%;
    right: 7.57%;
    top: 148px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: .5px solid #D6E7D2;
    border-radius: 0px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171; 
    background: #D6E7D2 url(../IMG/SVG/accordion_btn.svg) no-repeat 93% center;
    text-align: left;
    padding-left: 20px;
    margin-left: 257px;
}
.contacts__submit:hover, .contacts__submit:focus, .contacts__submit:active{
    opacity: .75;
}
.contacts__submit:last-child{
    margin-right: 0;
}

/* Contacts styles end*/

/* Footer styles start*/
.footer{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    background-color: white;
}
.footer__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 37px 0;
}
.footer__data{
    height: 50px;
    width: 182px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-rs{
    height: 50px;
    left: 42.71%;
    right: 42.64%;
    top: calc(50% - 50px/2);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    text-decoration: none;
}
.footer__social__list{
    height: 50px;
    width: 188px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Footer styles end*/

