/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../FONTS/Inter/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../FONTS/Inter/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../FONTS/Inter/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../FONTS/Inter/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../FONTS/Inika/inika-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../FONTS/Inika/inika-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inika-700 - latin */
  @font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../FONTS/Inika/inika-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../FONTS/Inika/inika-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
    box-sizing: border-box;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }
.wrapper{
    max-width: 1220px;
    margin: 0 auto;
} 

/* Header styles start*/

.header{
    background-color: #EDF2EC;
    font-family: 'Inika';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
} 
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 42px 0;
}
.header_list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 46px;
}
.header__item:last-child{
    margin-right: 0;
}
.header__link{  
    color: #010201;
    text-decoration: none;
}
.header__link1{
    color: #E06733;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}
.header__link1:hover, .header__link1:focus, .header__link1:active{
    opacity: .75;
}

/* Header styles end*/

.main{
     position: relative;
     /*top: 100px;*/
}

/* Welcome styles start*/
.welcome{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    background-color: #EDF2EC;
}
.welcome__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 62px 0;
}
.welcome__title{
    max-width: 549px;
    font-family: 'Inter';  /*не сходиться шрифт*/
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    padding-bottom: 42px;
    /*margin-left: 782px;*/
}
.colortext{
    color: #499A18; 
}
.welcome__subtitle{
    max-width: 525.44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    padding-bottom: 48px;
    /*margin-left: 782px;*/
}
.search__form__submit{
    padding: 14px 27px;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    border: 2px solid #E06733;
    border-radius: 10px;
}
.search__form__submit:hover, .search__form__submit:focus, .search__form__submit:active{
    background: white;
}
.leafs__welcome-pic{
    background-color: transparent;
    padding: 0;
    width: 449px;
    height: 407px;  
}

/* Welcome styles end*/


/* About styles start*/
.about{
    background-color: white;
}
.about__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 79px 0;
}

.about__title{
    max-width: 463px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding-bottom: 40px;
}

.colortext__about{
    color: #E06733; 
}
.about__subtitle{
    max-width: 605px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}
.houseplant__about-pic {
    background-color: transparent;
    padding: 0;
    width: 464px;
    height: 479px;    
}
/* About styles end*/


/* Service styles start*/

.sevice__title {
    max-width: 306px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}
.service__form__submit{
    padding: 12px 0;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    background-color: transparent;
    border: 1px solid #E06733;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    color: #E06733;
}
.service__form__submit:hover, .service__form__submit:focus, .service__form__submit:active{
    background: white;
}
.service{
    background-color: #EDF2EC;
}
.sevice_countent{
    max-width: 1007px;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 96px;
}
.service_list{
    display: flex;
    flex-wrap: wrap;
}
.service__item{
    margin-right: 38px;
}
.header__item:last-child{
    margin-right: 0;